<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<configSections>
				
				<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
		<entityFramework>
				<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
						<parameters>
								<parameter value="mssqllocaldb" />
						</parameters>
				</defaultConnectionFactory>
				<providers>
						<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
				</providers>
		</entityFramework>
		<startup>
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
		</startup>
		<connectionStrings>
				<add name="Entities" connectionString="metadata=res://*/AssessorApp.csdl|res://*/AssessorApp.ssdl|res://*/AssessorApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DVASSRRPT;initial catalog=assessor_app;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
				<add name="defaultConnection" connectionString="Data Source=dvassrrpt;Initial Catalog=assessor_app;Provider=SQLNCLI11.1;Integrated Security=SSPI;Auto Translate=False;">
				</add>
		</connectionStrings>
		<appSettings>
				<add key="outputDirectory" value="E:\ASSESSOR_ODS2\TestOutput"></add>
				<add key="detailYear" value="2016"></add>
				<add key="novYears" value="2017"></add>
				<add key="AssessorJsonShouldRun" value="true"></add>
				<add key="RunDetailsJSON" value="true"></add>
				<add key="ClientSettingsProvider.ServiceUri" value="" />
		</appSettings>
		<system.web>
				<membership defaultProvider="ClientAuthenticationMembershipProvider">
						<providers>
								<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
						</providers>
				</membership>
				<roleManager defaultProvider="ClientRoleProvider" enabled="true">
						<providers>
								<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
						</providers>
				</roleManager>
		</system.web>
</configuration>