[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "==6.2"
pyodbc = "*"
sqlalchemy = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.11"
